.row {
    width: 63%;
    margin: 0px auto;
    display: block;
}

.main-head {
    font-size: 40px;
    text-align: center;
    font-family: bahnschrift;
    margin-top: 20px;
    border-bottom: 3px solid #00aa44;
    padding-bottom: 5px;
}
.img {
    display: block;
    width: 500px;
    margin: 20px auto;
    border: 5px solid #00aa44;
    border-radius: 30px;
}
.img:hover {
    border: 5px solid #f70000;
    transition: 0.3s;
    
}
.button-1 {
    text-decoration: none;
    font-size: 30px;
    margin: 20px auto;
    display: block;
    color: #000;
    text-align: center;
    font-family: bahnschrift;
    background-color: #16DB65;
    width: 160px;
    padding: 5px;
    border-radius: 15px;

}
.button-1:hover {
    background-color: #5bef96;
    transition: 0.3s;
}
.sekce {
    border: 5px solid #00aa44;
    border-radius: 30px;
    max-width: 600px;
    margin: 30px auto;
    background-color: #deffd6;
    
}
.text {
    font-size: 16px;
    font-family: bahnschrift;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

